@charset "UTF-8";

div{
    background-color: orangered;
    text-align: center;
    height: 80px;
    width: 390px;
    border: 1px solid grey;
    display: block;
    padding: 10px;
}

li{list-style: none;

}

a{text-decoration: none;
    color: rgb(119, 0, 255);
    font-weight: bold;

}

a:hover{
    text-decoration: underline;
}

a:active{
    color: black;
}

.especial::before{
    content: "☢";
}

.especial::after{content: "☢";

}