@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

:root{color:#52524F;
      color: #FBFEED;
      color: #FFD051;  
      color: #FF9E00;
      color: #000000;

}

body{background-color: #52524F;
}

header{background-color: #52524F;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #FF9E00;
    
}

header > h1{font-family: "Bebas Neue",'Times New Roman', Times, sans-serif;
        font-size: 2em;
        font-weight: 10;
        padding-left: 20px;
        color: #FBFEED;
        display: inline-block;
        text-shadow: 0.3px 0.3px 0.3px #ffd151a6;

}

nav{display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}

header > nav> a{font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
                text-decoration: none;
                color: #fbfeedcc;

}

header > nav> a:hover{color: #FF9E00;
                      text-decoration: overline underline;
                      transition: 0.5s;
}

header > nav> .contact{

}

header > nav > .login{color: #FFD051;

}

header > nav > .login:hover{color: #FF9E00;
                            text-decoration: none;

}

header > nav > .join{border-radius: 5px;
                    padding: 10px;
                    border-style: outset;
                    border-color: #FF9E00;
                    

}

header > nav > .join:hover{text-shadow: 0.5px 0.5px 0.5px #ffd151a8;
                          text-decoration: none;
                          color: #000000;
                          transition: 0.5s;
                          background-color: #FF9E00

}

main{background-color: #52524F;
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100vw;

}

main > div{
  width: 100%;
}

main > div > .jus{color: #FFD051;
            padding-left: 150px;

}

main > div > h1{padding-left: 150px;
          color: #FBFEED;
          text-shadow: 0.5px 0.5px 0.5px #FFD051;

}

main > div > p{padding-left: 150px ;
          color: #fbfeede1;

}


main > div > p > .js{text-decoration: none;
          padding: 10px;
          color: #FBFEED;
          border-style: groove;
          border-color: #FF9E00;
          border-radius: 5px;
          border-width: 1px;

}

main > div > p > .js:hover{background-color: #FF9E00;
                      color: #000000;
                      transition: 0.5s;
}


main > div > p > .ln{text-decoration: none;
          padding: 10px;
          color: #000000;
          border-style: groove;
          border-color: #FF9E00;
          border-radius: 5px;
          border-width: 1px;
          background-color: #FF9E00;

}

main > div > p > .ln:hover{background-color: #52524F;
                      color: #FBFEED;
                      transition: 0.5s; 
}

img{display: inline-block;
  background-color: #52524F;
  width: 400px;
  height: 400px;
  margin-right: 400px;

}