@charset "UTF-8";
/* Box-level */
h1{height: 37px;
    width: 374px;
    background-color: lightslategray;

    border: 3px solid darkgrey;

    outline: 5px double black;
}

/* Inline-level */
a{background-color: lightslategray;

    border: 2px dotted darkgrey;

    padding: 2px 2px 3px 2px;
}