@charset "UTF-8";

*{margin: 0px;
    padding: 0px;

}

html, body{width: 100vw;
            height: 100vh;
            background-color: black;

}

body{background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

main{height: 100vh;
    position: relative;
    

}

section#telefone{position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 311px;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: contain;

}

iframe#tela{position: relative;
    top: 64px;
    left: 17px;
    width: 214px;
    height: 376px;
}

section#redes{text-align: right;

}

section#redes > a > img{border-radius: 50%;
                        width: 50px;
                        margin: 10px;
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
                        box-sizing: border-box;
                        
                        
}

section#redes img:hover{border: 2px solid rgba(255, 255, 255, 0.486);
                        transform: translate(4px, 1px);
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
                        transition: transform 0.5s, border 0.55s;
}