@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.conteiner{
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

div.item{
    width: 100%;
    background-color: lightsalmon;
    border: 1px solid black;
    height: 100%;
    text-align: center;
}