@charset "UTF-8";



main{background-color: rgb(212, 212, 212);
    margin: auto;
    width: 800px;
    padding: 20px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #203328;
}

body{background-image: linear-gradient(to right, #607368, #6A9D80, #65C890);

}

h1{font-family: "Kaushan Script", 'Times New Roman', Times, serif;
    text-align: center;
}

p{text-align: center;
  text-align: justify;
  font-family: "Indie Flower", 'Times New Roman', Times, serif;

}