@charset "UTF-8";

@media screen and (min-width:768px) {
    i#burger{
        display: none;
    }

    menu{
        display: flex;
    }

    menu > ul > li{
        display: inline-block;
    }

    menu > ul > li > a{
        border-top: none;
    }

    main{
        width: 768px;
    }
}