@charset "UTF-8";

.passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body{margin: 0px;

}

header{background-color: black;
        width: auto;
}

header > h1{color: white;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 50px 0px 0px 0px;
            text-align: center;
            font-family: "Passion One", sans-serif;
            font-size: 5em;
            

}

header > p{color: white;
            text-align: center;
            font-size: 1.2em;
            padding: 0px 0px 45px 0px;
            font-family: 'Times New Roman', Times, serif;

}

header > p > a{color: white;
            text-decoration: none;
            font-weight: bolder;

}

header > p > a:hover{text-decoration: underline;

}

main{background-color: white;

}

main > p{font-family: "Sriracha", cursive;
    text-align: justify;
    font-size: 2em;
    padding: 0px 0px 0px 20px;

}

section{background-color: bisque;
        background-image: url(imagens/background001.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        padding: 5px 0px 20px 0px;
        box-shadow: 3px 3px 5px black;
        min-width: 300px;
       
}

section > .poesia{background-color: rgba(0, 0, 0, 0.39);
                    min-width: 300px;
                    max-width: 500px;
                    height: 550px;
                    margin: 10px;

}

section > .poesia > p{color: white;
    font-family: "Sriracha", cursive;
    text-align: justify;
    font-size: 2em;
    text-align: center;
    

}

.livros{background-image: url(imagens/background002.jpg);
        

}

.predios{background-image: url(imagens/wallpaper002.jpg);

}

footer{background-color: black;
    height: 30px;
    margin-top: 50px;
}

footer > p{color: white;
    text-align: center;
    padding: 8px 0px 0px 0px;
    margin: 0px;

}

footer > p > a{color: white;
                font-weight: bolder;
                text-decoration: none;

}

footer > p > a:hover{text-decoration: underline;

}

footer > p > a > abbr{text-decoration: none;

}
